/* @import "normalize.css"; */

body {
	background: #dddddd;
	font-family: Arial, sans-serif;
}

h1 {
	font-size: 3em;
	margin: 0;
}

h2 {
	font-size: 1.75em;
	line-height: 1;
	margin: 0 0 40px 0;
}

h3 {
	font-size: 1.5em;
	line-height: 1;
	margin: 0;
}

#header {
	align-items: center;
	background: #ffffff;
	box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
	box-sizing: border-box;
	display: flex;
	height: 90px;
	justify-content: space-between;
	left: 0;
	padding: 0 40px;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 2;
}

#logo {
	margin-right: 120px;
}

#logo img {
	height: 28px;
	width: 168px;
}

#navigation-header {
	flex-grow: 1;
}

#navigation-header ul {
	display: flex;
	justify-content: space-between;
	list-style: none;
	padding: 0;
}

#navigation-header li {
	line-height: 1.5;
	display: flex;
	flex-direction: column;
	text-align: center;
}

#navigation-header a {
	color: #000000;
	text-decoration: none;
}

#navigation-header li.selected a {
	color: #3B8AE7;
}

.placeholder-icon::before {
	content: "n";
	display: block;
	font-family: Webdings;
}

#search {
	margin-left: 80px;
}

#search input {
	border: 1px solid #aaaaaa;
	border-radius: 6px;
	box-sizing: border-box;
	height: 48px;
	padding: 0 10px;
	width: 280px;
}

#quicklinks ul {
	display: flex;
	list-style: none;
	padding: 0;
}

#quicklinks li {
	margin-left: 20px;
}

#quicklinks a {
	color: #000000;
	text-decoration: none;
}

#wrapper {
	display: flex;
	justify-content: space-between;
	margin: 0 auto;
	margin-top: 160px;
	max-width: 1400px;
}

#navigation-left ul {
	background: #ffffff;
	border-radius: 8px;
	box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
	font-weight: bold;
	list-style: none;
	margin: 0;
	overflow: hidden;
	padding: 0 0 12px 0;
	width: 260px;
}

#navigation-left a,
#navigation-left li.selected {
	padding: 15px 0 15px 30px
}

#navigation-left a {
	color: #000000;
	display: block;
	text-decoration: none;
}

#navigation-left li {
	border-left: 3px solid transparent;
}

#navigation-left li.back {
	background: #3B8AE7;
	border-left: none;
	border-bottom: 2px solid #ffffff;
}

#navigation-left li.back a {
	color: #ffffff;
}

#navigation-left li.selected {
	background: #eeeeee;
	border-left-color: #3B8AE7;
}

#content {
	width: calc(100% - 260px - 90px);
}

#profile-overview {
	align-items: center;
	background: #ffffff;
	border-radius: 8px;
	box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
	display: flex;
	margin-bottom: 50px;
	padding: 30px 0;
	position: relative;
}

#profile-overview figure {
	border-radius: 100%;
	flex-grow: 0;
	flex-shrink: 0;
	height: 260px;
	margin: 0 50px 0 -50px;
	overflow: hidden;
	position: relative;
	width: 260px;
}

#profile-overview figure::after {
	content: "";
	display: block;
	padding-bottom: 100%;
}

#profile-overview img {
	height: 100%;
	object-fit: cover;
	position: absolute;
	width: 100%;
}

#profile-content {
	flex-grow: 1;
}

#member-since {
	color: #aaaaaa;
	margin: 0;
}

#buttons {
	display: flex;
	position: absolute;
	right: 20px;
	top: 20px;
}

#buttons a {
	align-items: center;
	border: 1px solid #aaaaaa;
	color: #3B8AE7;
	display: flex;
	font-family: Webdings;
	font-size: 2em;
	justify-content: center;
	height: 50px;
	text-decoration: none;
	width: 50px;
}

#buttons .edit {
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
}

#buttons .delete {
	border-left: none;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
}

.contact-block {
	background: #ffffff;
	border-radius: 8px;
	box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
	margin-bottom: 30px;
	padding: 30px;
}

.details {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
}

.details > p {
	width: 25%;
	margin: 40px 0 0 0;
}

.details p span {
	color: #aaaaaa;
	display: block;
	font-weight: bold;
	margin-bottom: 10px;
}